In [ ]:
import seaborn as sns
import pandas  as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
data = titanic[['age', 'fare', 'pclass', 'sex']]
data = pd.get_dummies(data, drop_first=True)
data.head()

    age     fare  pclass  sex_male
0  22.0   7.2500       3      True
1  38.0  71.2833       1     False
2  26.0   7.9250       3     False
3  35.0  53.1000       1     False
4  35.0   8.0500       3      True

In [ ]:
imputer = IterativeImputer(max_iter=10, random_state=0)
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

In [ ]:
print("Datos originales:")
print(data.head(30))

print("\nDatos imputados:")
print(data_imputed.head(30))

Datos originales:
     age      fare  pclass  sex_male
0   22.0    7.2500       3      True
1   38.0   71.2833       1     False
2   26.0    7.9250       3     False
3   35.0   53.1000       1     False
4   35.0    8.0500       3      True
5    NaN    8.4583       3      True
6   54.0   51.8625       1      True
7    2.0   21.0750       3      True
8   27.0   11.1333       3     False
9   14.0   30.0708       2     False
10   4.0   16.7000       3     False
11  58.0   26.5500       1     False
12  20.0    8.0500       3      True
13  39.0   31.2750       3      True
14  14.0    7.8542       3     False
15  55.0   16.0000       2     False
16   2.0   29.1250       3      True
17   NaN   13.0000       2      True
18  31.0   18.0000       3     False
19   NaN    7.2250       3     False
20  35.0   26.0000       2      True
21  34.0   13.0000       2      True
22  15.0    8.0292       3     False
23  28.0   35.5000       1      True
24   8.0   21.0750       3     False
25  38.0   31.3875       3     False
26   NaN    7.2250       3      True
27  19.0  263.0000       1      True
28   NaN    7.8792       3     False
29   NaN    7.8958       3      True

Datos imputados:
          age      fare  pclass  sex_male
0   22.000000    7.2500     3.0       1.0
1   38.000000   71.2833     1.0       0.0
2   26.000000    7.9250     3.0       0.0
3   35.000000   53.1000     1.0       0.0
4   35.000000    8.0500     3.0       1.0
5   26.082704    8.4583     3.0       1.0
6   54.000000   51.8625     1.0       1.0
7    2.000000   21.0750     3.0       1.0
8   27.000000   11.1333     3.0       0.0
9   14.000000   30.0708     2.0       0.0
10   4.000000   16.7000     3.0       0.0
11  58.000000   26.5500     1.0       0.0
12  20.000000    8.0500     3.0       1.0
13  39.000000   31.2750     3.0       1.0
14  14.000000    7.8542     3.0       0.0
15  55.000000   16.0000     2.0       0.0
16   2.000000   29.1250     3.0       1.0
17  33.850204   13.0000     2.0       1.0
18  31.000000   18.0000     3.0       0.0
19  22.070708    7.2250     3.0       0.0
20  35.000000   26.0000     2.0       1.0
21  34.000000   13.0000     2.0       1.0
22  15.000000    8.0292     3.0       0.0
23  28.000000   35.5000     1.0       1.0
24   8.000000   21.0750     3.0       0.0
25  38.000000   31.3875     3.0       0.0
26  26.127637    7.2250     3.0       1.0
27  19.000000  263.0000     1.0       1.0
28  22.046873    7.8792     3.0       0.0
29  26.103198    7.8958     3.0       1.0

Exercises

In [ ]:
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

life = pd.read_csv("Life Expectancy.csv")
print(life.head())
print(life.isnull().sum())

life_numeric = life.select_dtypes(include=['float64', 'int64'])

imputer = IterativeImputer(max_iter=10, random_state=0)

life_imputed = pd.DataFrame(
    imputer.fit_transform(life_numeric),
    columns=life_numeric.columns
)

print("Original data with missing values")
print(life_numeric.head(20))
print("\nData after MICE imputation")
print(life_imputed.head(20))

       Country  Year      Status  Life expectancy   Adult Mortality  \
0  Afghanistan  2015  Developing              65.0            263.0
1  Afghanistan  2014  Developing              59.9            271.0
2  Afghanistan  2013  Developing              59.9            268.0
3  Afghanistan  2012  Developing              59.5            272.0
4  Afghanistan  2011  Developing              59.2            275.0

   infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   ...  \
0             62     0.01               71.279624         65.0      1154  ...
1             64     0.01               73.523582         62.0       492  ...
2             66     0.01               73.219243         64.0       430  ...
3             69     0.01               78.184215         67.0      2787  ...
4             71     0.01                7.097109         68.0      3013  ...

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0    6.0               8.16         65.0        0.1  584.259210  33736494.0
1   58.0               8.18         62.0        0.1  612.696514    327582.0
2   62.0               8.13         64.0        0.1  631.744976  31731688.0
3   67.0               8.52         67.0        0.1  669.959000   3696958.0
4   68.0               7.87         68.0        0.1   63.537231   2978599.0

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5

[5 rows x 22 columns]
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64
Original data with missing values
    Year  Life expectancy   Adult Mortality  infant deaths  Alcohol  \
0   2015              65.0            263.0             62     0.01
1   2014              59.9            271.0             64     0.01
2   2013              59.9            268.0             66     0.01
3   2012              59.5            272.0             69     0.01
4   2011              59.2            275.0             71     0.01
5   2010              58.8            279.0             74     0.01
6   2009              58.6            281.0             77     0.01
7   2008              58.1            287.0             80     0.03
8   2007              57.5            295.0             82     0.02
9   2006              57.3            295.0             84     0.03
10  2005              57.3            291.0             85     0.02
11  2004              57.0            293.0             87     0.02
12  2003              56.7            295.0             87     0.01
13  2002              56.2              3.0             88     0.01
14  2001              55.3            316.0             88     0.01
15  2000              54.8            321.0             88     0.01
16  2015              77.8             74.0              0     4.60
17  2014              77.5              8.0              0     4.51
18  2013              77.2             84.0              0     4.76
19  2012              76.9             86.0              0     5.14

    percentage expenditure  Hepatitis B  Measles    BMI   under-five deaths   \
0                71.279624         65.0      1154   19.1                  83
1                73.523582         62.0       492   18.6                  86
2                73.219243         64.0       430   18.1                  89
3                78.184215         67.0      2787   17.6                  93
4                 7.097109         68.0      3013   17.2                  97
5                79.679367         66.0      1989   16.7                 102
6                56.762217         63.0      2861   16.2                 106
7                25.873925         64.0      1599   15.7                 110
8                10.910156         63.0      1141   15.2                 113
9                17.171518         64.0      1990   14.7                 116
10                1.388648         66.0      1296   14.2                 118
11               15.296066         67.0       466   13.8                 120
12               11.089053         65.0       798   13.4                 122
13               16.887351         64.0      2486   13.0                 122
14               10.574728         63.0      8762   12.6                 122
15               10.424960         62.0      6532   12.2                 122
16              364.975229         99.0         0   58.0                   0
17              428.749067         98.0         0   57.2                   1
18              430.876979         99.0         0   56.5                   1
19              412.443356         99.0         9   55.8                   1

    Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  Population  \
0     6.0               8.16         65.0        0.1   584.259210  33736494.0
1    58.0               8.18         62.0        0.1   612.696514    327582.0
2    62.0               8.13         64.0        0.1   631.744976  31731688.0
3    67.0               8.52         67.0        0.1   669.959000   3696958.0
4    68.0               7.87         68.0        0.1    63.537231   2978599.0
5    66.0               9.20         66.0        0.1   553.328940   2883167.0
6    63.0               9.42         63.0        0.1   445.893298    284331.0
7    64.0               8.33         64.0        0.1   373.361116   2729431.0
8    63.0               6.73         63.0        0.1   369.835796  26616792.0
9    58.0               7.43         58.0        0.1   272.563770   2589345.0
10   58.0               8.70         58.0        0.1    25.294130    257798.0
11    5.0               8.79          5.0        0.1   219.141353  24118979.0
12   41.0               8.82         41.0        0.1   198.728544   2364851.0
13   36.0               7.76         36.0        0.1   187.845950  21979923.0
14   35.0               7.80         33.0        0.1   117.496980   2966463.0
15   24.0               8.20         24.0        0.1   114.560000    293756.0
16   99.0               6.00         99.0        0.1  3954.227830     28873.0
17   98.0               5.88         98.0        0.1  4575.763787    288914.0
18   99.0               5.66         99.0        0.1  4414.723140    289592.0
19   99.0               5.59         99.0        0.1  4247.614380      2941.0

     thinness  1-19 years   thinness 5-9 years  \
0                    17.2                 17.3
1                    17.5                 17.5
2                    17.7                 17.7
3                    17.9                 18.0
4                    18.2                 18.2
5                    18.4                 18.4
6                    18.6                 18.7
7                    18.8                 18.9
8                    19.0                 19.1
9                    19.2                 19.3
10                   19.3                 19.5
11                   19.5                 19.7
12                   19.7                 19.9
13                   19.9                  2.2
14                    2.1                  2.4
15                    2.3                  2.5
16                    1.2                  1.3
17                    1.2                  1.3
18                    1.3                  1.4
19                    1.3                  1.4

    Income composition of resources  Schooling
0                             0.479       10.1
1                             0.476       10.0
2                             0.470        9.9
3                             0.463        9.8
4                             0.454        9.5
5                             0.448        9.2
6                             0.434        8.9
7                             0.433        8.7
8                             0.415        8.4
9                             0.405        8.1
10                            0.396        7.9
11                            0.381        6.8
12                            0.373        6.5
13                            0.341        6.2
14                            0.340        5.9
15                            0.338        5.5
16                            0.762       14.2
17                            0.761       14.2
18                            0.759       14.2
19                            0.752       14.2

Data after MICE imputation
      Year  Life expectancy   Adult Mortality  infant deaths  Alcohol  \
0   2015.0              65.0            263.0           62.0     0.01
1   2014.0              59.9            271.0           64.0     0.01
2   2013.0              59.9            268.0           66.0     0.01
3   2012.0              59.5            272.0           69.0     0.01
4   2011.0              59.2            275.0           71.0     0.01
5   2010.0              58.8            279.0           74.0     0.01
6   2009.0              58.6            281.0           77.0     0.01
7   2008.0              58.1            287.0           80.0     0.03
8   2007.0              57.5            295.0           82.0     0.02
9   2006.0              57.3            295.0           84.0     0.03
10  2005.0              57.3            291.0           85.0     0.02
11  2004.0              57.0            293.0           87.0     0.02
12  2003.0              56.7            295.0           87.0     0.01
13  2002.0              56.2              3.0           88.0     0.01
14  2001.0              55.3            316.0           88.0     0.01
15  2000.0              54.8            321.0           88.0     0.01
16  2015.0              77.8             74.0            0.0     4.60
17  2014.0              77.5              8.0            0.0     4.51
18  2013.0              77.2             84.0            0.0     4.76
19  2012.0              76.9             86.0            0.0     5.14

    percentage expenditure  Hepatitis B  Measles    BMI   under-five deaths   \
0                71.279624         65.0    1154.0   19.1                83.0
1                73.523582         62.0     492.0   18.6                86.0
2                73.219243         64.0     430.0   18.1                89.0
3                78.184215         67.0    2787.0   17.6                93.0
4                 7.097109         68.0    3013.0   17.2                97.0
5                79.679367         66.0    1989.0   16.7               102.0
6                56.762217         63.0    2861.0   16.2               106.0
7                25.873925         64.0    1599.0   15.7               110.0
8                10.910156         63.0    1141.0   15.2               113.0
9                17.171518         64.0    1990.0   14.7               116.0
10                1.388648         66.0    1296.0   14.2               118.0
11               15.296066         67.0     466.0   13.8               120.0
12               11.089053         65.0     798.0   13.4               122.0
13               16.887351         64.0    2486.0   13.0               122.0
14               10.574728         63.0    8762.0   12.6               122.0
15               10.424960         62.0    6532.0   12.2               122.0
16              364.975229         99.0       0.0   58.0                 0.0
17              428.749067         98.0       0.0   57.2                 1.0
18              430.876979         99.0       0.0   56.5                 1.0
19              412.443356         99.0       9.0   55.8                 1.0

    Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  Population  \
0     6.0               8.16         65.0        0.1   584.259210  33736494.0
1    58.0               8.18         62.0        0.1   612.696514    327582.0
2    62.0               8.13         64.0        0.1   631.744976  31731688.0
3    67.0               8.52         67.0        0.1   669.959000   3696958.0
4    68.0               7.87         68.0        0.1    63.537231   2978599.0
5    66.0               9.20         66.0        0.1   553.328940   2883167.0
6    63.0               9.42         63.0        0.1   445.893298    284331.0
7    64.0               8.33         64.0        0.1   373.361116   2729431.0
8    63.0               6.73         63.0        0.1   369.835796  26616792.0
9    58.0               7.43         58.0        0.1   272.563770   2589345.0
10   58.0               8.70         58.0        0.1    25.294130    257798.0
11    5.0               8.79          5.0        0.1   219.141353  24118979.0
12   41.0               8.82         41.0        0.1   198.728544   2364851.0
13   36.0               7.76         36.0        0.1   187.845950  21979923.0
14   35.0               7.80         33.0        0.1   117.496980   2966463.0
15   24.0               8.20         24.0        0.1   114.560000    293756.0
16   99.0               6.00         99.0        0.1  3954.227830     28873.0
17   98.0               5.88         98.0        0.1  4575.763787    288914.0
18   99.0               5.66         99.0        0.1  4414.723140    289592.0
19   99.0               5.59         99.0        0.1  4247.614380      2941.0

     thinness  1-19 years   thinness 5-9 years  \
0                    17.2                 17.3
1                    17.5                 17.5
2                    17.7                 17.7
3                    17.9                 18.0
4                    18.2                 18.2
5                    18.4                 18.4
6                    18.6                 18.7
7                    18.8                 18.9
8                    19.0                 19.1
9                    19.2                 19.3
10                   19.3                 19.5
11                   19.5                 19.7
12                   19.7                 19.9
13                   19.9                  2.2
14                    2.1                  2.4
15                    2.3                  2.5
16                    1.2                  1.3
17                    1.2                  1.3
18                    1.3                  1.4
19                    1.3                  1.4

    Income composition of resources  Schooling
0                             0.479       10.1
1                             0.476       10.0
2                             0.470        9.9
3                             0.463        9.8
4                             0.454        9.5
5                             0.448        9.2
6                             0.434        8.9
7                             0.433        8.7
8                             0.415        8.4
9                             0.405        8.1
10                            0.396        7.9
11                            0.381        6.8
12                            0.373        6.5
13                            0.341        6.2
14                            0.340        5.9
15                            0.338        5.5
16                            0.762       14.2
17                            0.761       14.2
18                            0.759       14.2
19                            0.752       14.2

In [ ]:
import seaborn as sns
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

planets = sns.load_dataset("planets")
print(planets.head())
print(planets.isnull().sum())
planets_numeric = planets.select_dtypes(include=['float64', 'int64'])
imputer = IterativeImputer(max_iter=10, random_state=0)

planets_imputed = pd.DataFrame(
    imputer.fit_transform(planets_numeric),
    columns=planets_numeric.columns
)

print("Original planets data")
print(planets_numeric.head(20))
print("\nPlanets data after MICE")
print(planets_imputed.head(20))

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64
Original planets data
    number  orbital_period    mass  distance  year
0        1      269.300000   7.100     77.40  2006
1        1      874.774000   2.210     56.95  2008
2        1      763.000000   2.600     19.84  2011
3        1      326.030000  19.400    110.62  2007
4        1      516.220000  10.500    119.47  2009
5        1      185.840000   4.800     76.39  2008
6        1     1773.400000   4.640     18.15  2002
7        1      798.500000     NaN     21.41  1996
8        1      993.300000  10.300     73.10  2008
9        2      452.800000   1.990     74.79  2010
10       2      883.000000   0.860     74.79  2010
11       1      335.100000   9.880     39.43  2009
12       1      479.100000   3.880     97.28  2008
13       3     1078.000000   2.530     14.08  1996
14       3     2391.000000   0.540     14.08  2001
15       3    14002.000000   1.640     14.08  2009
16       1        4.230785   0.472     15.36  1995
17       5       14.651000   0.800     12.53  1996
18       5       44.380000   0.165     12.53  2004
19       5     4909.000000   3.530     12.53  2002

Planets data after MICE
    number  orbital_period       mass  distance    year
0      1.0      269.300000   7.100000     77.40  2006.0
1      1.0      874.774000   2.210000     56.95  2008.0
2      1.0      763.000000   2.600000     19.84  2011.0
3      1.0      326.030000  19.400000    110.62  2007.0
4      1.0      516.220000  10.500000    119.47  2009.0
5      1.0      185.840000   4.800000     76.39  2008.0
6      1.0     1773.400000   4.640000     18.15  2002.0
7      1.0      798.500000   3.869816     21.41  1996.0
8      1.0      993.300000  10.300000     73.10  2008.0
9      2.0      452.800000   1.990000     74.79  2010.0
10     2.0      883.000000   0.860000     74.79  2010.0
11     1.0      335.100000   9.880000     39.43  2009.0
12     1.0      479.100000   3.880000     97.28  2008.0
13     3.0     1078.000000   2.530000     14.08  1996.0
14     3.0     2391.000000   0.540000     14.08  2001.0
15     3.0    14002.000000   1.640000     14.08  2009.0
16     1.0        4.230785   0.472000     15.36  1995.0
17     5.0       14.651000   0.800000     12.53  1996.0
18     5.0       44.380000   0.165000     12.53  2004.0
19     5.0     4909.000000   3.530000     12.53  2002.0